:root {
  --cinza: #aaa;
  --laranja: #fc9c0a;
  --laranja-escura: #ff7300a1;
  --branca: #fff;
  --luz: rgb(229, 255, 0);
}

body {
  align-items: center;
  background: linear-gradient(45deg, #a7cfdf 0%,#23538a 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  min-height: 100vh;
}

.window {
  padding: 10px 10px 10px 10px;
  margin-right: 60px; 
  border: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  background-color: #4f4f4e;
  box-shadow: 0 13px 27px -5px #32325d40,0 8px 16px -8px #0000004d,0 -6px 16px -6px #00000008;
  border-radius: 15px;
}

h1 {
  color: var(--branca);
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
}

.teclado {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.tecla {
  background-color: #596869;
  border-radius: 20px;
  box-shadow: 0 13px 27px -5px #32325d40,0 8px 16px -8px #0000004d,0 -6px 16px -6px #00000008;
  color: var(--laranja);
  cursor: pointer;
  height: 120px;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 120px;
  text-align: center;
  width: 120px;
}

.tecla.ativa,
.tecla:active {
  background-color: var(--laranja);
  border: 4px solid  var(--laranja);
  box-shadow: 3px 3px 0 var(--laranja-escura) inset;
  color: var(--branca);
  outline: none;
}

.tecla.focus,
.tecla:focus {
  outline: none;
  box-shadow: 1px 1px 10px var(--luz);
}

.tecla.active:focus,
.tecla:active:focus {
  box-shadow: 3px 3px 0 var(--laranja-escura) inset, 1px 1px 10px var(--luz);
}

.window-controls {
  width: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.red { 
  background-color: #ff5f57;
}

.yellow {
  background-color: #ffbd2e; 
  cursor: pointer;
  content: '\25BC';
}

.green {
  background-color: #28c941;
}

#content.minimized {
  display: none;
  transform: translateY(100%);
}

.minimize {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #333;
  color: white;
  padding: 10px;
  transition: transform 0.8 ease-in-out;
}

.content {
  width: 300px;
  height: 200px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, max-height 0.3s ease-in-out;
  max-height: 100%; 
  overflow: hidden;  
}

.content.minimized {
  transform: translate(-50%, 100%); 
  max-height: 0;
}

#isChecked {
  display: none;
}